<table class="table table-bordered table-hover col-md-4" th:fragment="listdeasease">
    <caption>Desease</caption>
    <tr class="deseaseLine">
        <th>name</th>
        <th>action</th>
    </tr>
    <tr class="deseaseCreateLine">
        <td><input type="text" class="deseaseName"/></td>
        <td><a type="button" class="btn btn-success" href="#" id="addDesease">Добавить экземпляр</a><span class="spD" style="transition: all 0.3s ease-out 0.1s;opacity: 0; color: red;margin-left:15px">экземпляр создан</span></td>
    </tr>
</table>
<table class="table table-bordered table-hover col-md-4" th:fragment="listorgan">
    <caption>Organ</caption>
    <tr>
        <th>name</th>
        <th></th>
    </tr>
    <tr>
        <td><input type="text" class="organName"/></td>
        <td><a type="button" class="btn btn-success" href="#" id="addOrgan">Добавить экземпляр</a><span class="spO" style="transition: all 0.3s ease-out 0.1s;opacity: 0; color: red;margin-left:15px">экземпляр создан</span></td>
    </tr>
</table>
<table class="table table-bordered table-hover col-md-4" th:fragment="listmedicine">
    <caption>Medicine</caption>
    <tr>
        <th>name</th>
        <th></th>
    </tr>
    <tr>
        <td><input type="text" class="medicineName"/></td>
        <td><a type="button" class="btn btn-success" href="#" id="addMedicine">Добавить экземпляр</a><span class="spM" style="transition: all 0.3s ease-out 0.1s;opacity: 0; color: red;margin-left:15px">экземпляр создан</span></td>
    </tr>
</table>
<div>

</div>