<head th:fragment="defaultHead">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link type="text/css" rel="shortcut icon" href="../../assets/ico/favicon.ico" />

    <title>Fixed Top Navbar Example for Bootstrap</title>

    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="/css/style.css" rel="stylesheet"  />

    <script src="/js/jquery-1.10.2.min.js" />
    <script src="/js/bootstrap.min.js" />
    <script src=""></script>
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>