<div th:fragment="edit">
    <style>
        .close
        {
            float: none;
        }
    </style>
    <div class="col-md-2">
        <h3 th:text="${name}"/>
    </div>
    <div class="col-md-10">
        <a type="button" class="btn btn-primary pull-right" href="/">Назад</a>
    </div>
    <hr style="clear: both;"/>
    <h4>Свойства:</h4>
    <h4 id="sourceName">Источник</h4>
    <ul id="sourceList">
        <li th:each="source : ${sourceList}">
            <span th:text="${source}"/><a type="button" class="close delSource" aria-hidden="true" href="#">&times;</a>
        </li>
    </ul>
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Email address</label>
            <input type="text" class="form-control" id="sourceValue"/>
        </div>
        <button class="btn btn-success" id="addSource">Добавить</button>
    </form>
    <h4>Симптомы</h4>
    <ul>
        <li th:each="symptom : ${symptomList}">
            <span th:text="${symptom}"/><a type="button" class="close" aria-hidden="true" href="#">&times;</a>
        </li>
    </ul>
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Email address</label>
            <input type="text" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-success">Добавить</button>
        </form>
    <hr />
    <form class="form-inline" role="form">
        <a type="button" href="/" class="btn btn-success">Сохранить</a>
        <a type="button" class="btn btn-danger">Удалить объект</a>
    </form>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#addSource').on('click',function(e){
                e.preventDefault()
                ind = $('h3').text()
                name = 'source'
                value = $('#sourceValue').val()
                url = '/saveProperty/'+ind+'/'+name+'/'+value
                $.post(url,function(data){
                    if(data=='ok')
                    {
                        $('#sourceList li:last').append("<li><span>"+value+"</span></li>")
                    }
                })
            })

            $('.delSource').on('click',function(e){
                e.preventDefault()
                ths = $(this)
                ind = $('h3').text()
                name = 'source'
                value = $(this).parent().find('span').text()
                url = '/deleteProperty/'+ind+'/'+name+'/'+value
                $.post(url,function(data){
                    if(data=='ok')
                    {
                        ths.parent().detach()
                    }
                })
            })
        })
    </script>
</div>